%h2 About Goals (Re)Viewer App

%p Vision: LG Oakland players use it to decide which goal to choose each Monday.

%p They can view existing information in sortable format, and perhaps other formats to come.  They can search goals, including the full description.

%p Optionally, they can write and edit reviews before and after choosing it.  Before, it would help goal authors create better goals.  After, it would help them journal just a bit and help other learners better evaluate that goal.

%p Our values in creating this were User Experience.  We are not "there" yet and cannot be without your help.  Please make suggestions...  or write some code to improve this!