// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag {
  display: inline;
  font-size: 75%;
  text-align: center;
  padding: 5px 5px;
}

div.container { max-width: 1200px }

#goals-table_length {
  background-color: yellow;
  width: 100%;
  display: table-cell;
  label: {
    display: inline;
  }
}